---
import { Comment } from 'astro-pure/advanced'
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'gossips', text: 'Gossips' },
  { depth: 2, slug: 'about-blog', text: 'About Blog' }
]
---

<PageLayout title='About' info='/about'>
  <p>我们都是向人生征战的勇士</p>

  {/* general-talk */}
  <h2 id='hobbies'>爱好</h2>
  <ul>
    <li>阅读（不挑食）</li>
    <li>以多活一段时间为目的的健身（包括跑步）</li>
    <li>做饭（如果你知道我住在哪，可以来尝尝，死不了人的）</li>
    <li>Coding（不工作就是爱好了）</li>
    <li>如果你在现实中认识我，那么我的爱好可以是任何事；so，你可以约我尝试任何新鲜玩意</li>
  </ul>

  {/* dreams */}
  <h2 id = 'dreams'>愿望</h2>
  <ul>
    <li>有很多的故事可以说给你听</li>
    <li>做一名铁匠、木工或者厨师，但不靠这养活自己</li>
    <li>拥有一个可以自豪地立即让你在 App Store 下载的软件产品</li>
    <li>听你讲你的故事</li>
  </ul>
  {/* books */}
  <h2> 书籍推荐</h2>
  <p> 我只会推荐我读过多次的书 </p>
  <h3 id='books'>For Anyone</h3>
  <ul>
    <li><a href= 'https://book.douban.com/subject/1084336/'>《小王子》</a></li>
    <li><a href='https://book.douban.com/subject/10429639/'>《沉思录》</a></li>
    <li><a href='https://book.douban.com/subject/30171338/'>《复杂》</a></li>
    <li><a href='https://book.douban.com/subject/34782541/'>《从一到无穷大》</a></li>
  </ul>
  <h3 id="books-for-Programmer">For Programmer</h3>
  <ul>
    <li><a href='https://book.douban.com/subject/4199741/'>《Clean Code》</a></li>
  </ul>
  {/* tools */}
  <h2 id='tools'>Tools Recommendation</h2>
  <p>Current support tools as follow:</p>
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Notion',
        description: 'Note Taking',
        href: 'https://www.notion.so/',
        icon: import('@/assets/tools/notion.svg?raw')
      },
      {
        name: 'Typora',
        description: 'Markdown Editor',
        href: 'https://typora.io/',
        icon: import('@/assets/tools/typora.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'Arch Linux',
        description: 'Linux Distribution',
        href: 'https://archlinux.org/',
        icon: import('@/assets/tools/archlinux.svg?raw')
      },
      {
        name: 'Ubuntu 24.04 LTS',
        description: 'Linux Distribution',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      }
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p></p>
  <Substats
    stats={[
      {
        platform: 'QQ邮箱',
        icon: 'email',
        text: '1312876092@qq.com'
        // link: '131',
      }
    ]}
  />

  <!--{/* gossips */}-->
  <!--<h2 id='gossips'>Gossips</h2>-->
  <!--<Collapse title='Lorem ipsum'>-->
  <!--  -->
  <!--</Collapse>-->

  <Comment slot='bottom' />
</PageLayout>
